<nav class="blue">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
</nav>

<div class="container">
  <fieldset>
    <legend>Register Form.</legend>
    <div class="row">
      <form [formGroup]="fgValidation" (ngSubmit)="savePersonData()">
        <div class="row">
            <div class="input-field col s6">
              <input id="first_name" formControlName="firstName" type="text" class="validate">
              <label for="first_name">First Name</label>
              <div class="validation-message" *ngIf="fg.firstName.errors && (fg.firstName.touched || fg.firstName.dirty)">
                  <ul>
                    <li *ngIf="fg.firstName.errors.maxLength">
                      <strong>
                        FirstName  must be up to 30 characters long.
                      </strong>
                    </li>
                    <li *ngIf="fg.firstName.errors.minLength">
                        <strong>
                          FirstName  must be up to 3 characters long.
                        </strong>
                      </li>
                    <li *ngIf="fg.firstName.errors.required">
                        <strong>
                          FirstName is required.
                        </strong>
                      </li>
                  </ul>
                </div>     
            </div>
            <div class="input-field col s6">
              <input id="last_name" formControlName="lastName"  type="text" class="validate">
              <label for="last_name">Last Name</label>
                  <div class="validation-message" *ngIf="fg.lastName.errors && (fg.lastName.touched || fg.lastName.dirty)">
                    <ul>
                      <li *ngIf="fg.lastName.errors.maxLength">
                        <strong>
                          LastName  must be up to 30 characters long.
                        </strong>
                      </li>
                      <li *ngIf="fg.lastName.errors.minLength">
                          <strong>
                            LastName  must be up to 3 characters long.
                          </strong>
                        </li>
                      <li *ngIf="fg.lastName.errors.required">
                          <strong>
                            LastName is required.
                          </strong>
                        </li>
                    </ul>
                  </div>     
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
              <input id="email" formControlName="email"  type="email" class="validate">
              <label for="email">Email</label>
              <div class="validation-message" *ngIf="fg.email.errors && (fg.email.touched || fg.email.dirty)">
                  <ul>
                    <li *ngIf="fg.email.errors.email">
                      <strong>
                        Email must have  a correct email format.
                      </strong>
                    </li>
                    <li *ngIf="fg.email.errors.required">
                        <strong>
                          Email is required.
                        </strong>
                      </li>
                  </ul>
                </div>
            </div>
            <div class="input-field col s6">
              <input id="address" formControlName="address" type="text" class="validate">
              <label for="address">Address</label>
              <div class="validation-message" *ngIf="fg.address.errors && (fg.address.touched || fg.address.dirty)">
                  <ul>
                    <li *ngIf="fg.address.errors.maxLength">
                      <strong>
                        Address  must be up to 100 characters long.
                      </strong>
                    </li>
                    <li *ngIf="fg.address.errors.required">
                        <strong>
                          Address is required.
                        </strong>
                      </li>
                  </ul>
                </div>
            </div>
        </div>
        <button  [disabled]="isInvalidForm" class="btn waves-effect waves-light" type="button" (click)="savePersonData()" name="action">Save
            <i class="material-icons right">send</i>
        </button> &nbsp;&nbsp;
        <button class="btn waves-effect waves-light red" type="button" (click)="resetForm()">Cancel
            <i class="material-icons right">send</i>
        </button>
      </form>
        <br />
        <br />
        <br />
        <div>
            <table class="responsive-table" *ngIf="peopleAmount > 0; else noData">
              <thead>
                <tr>
                  <th>
                    First Name
                  </th>
                  <th>
                    Lastname
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    Address
                  </th>
                  <th>
                    Select
                  </th>
                  <th>
                    Delete
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of peopleList">
                  <td>
                    {{p.firstName}}
                  </td>
                  <td>
                    {{p.lastName}}
                  </td>
                  <td>
                    {{p.email}}
                  </td>
                  <td>
                    {{p.address}}
                  </td>
                  <td>
                      <button class="btn waves-effect waves-light orange" type="submit" name="action" (click)="onSelect(p)">Edit
                        <i class="material-icons right">edit</i>
                      </button>
                  </td>
                  <td>
                      <button class="btn waves-effect waves-light red" type="submit" name="action" (click)="onDelete(p.email)">Delete
                        <i class="material-icons right">delete</i>
                      </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <ng-template #noData>
              <br />
              <br />
              <strong class="center">No data yet!</strong>
            </ng-template>
          </div>
    </div>
  </fieldset>
</div>


<br />
<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
    